In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Dataset link - https://www.kaggle.com/c/3926

In [44]:
donations = pd.read_csv('datasets/donations.csv')
projects = pd.read_csv('datasets/projects.csv')

In [6]:
donations.head()

,donationid,projectid,donor_acctid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,donation_optional_support,...,dollar_amount,donation_included_optional_support,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,via_giving_page,for_honoree,donation_message
0,431d720bc3dfd75ae445a5eaa0b0638d,ffffac55ee02a49d1abc87ba6fc61135,22cbc920c9b5fa08dfb331422f5926b5,Peachtree City,GA,30269.0,f,2011-08-25 14:27:34.807,42.50,7.50,...,10_to_100,t,no_cash_received,f,t,f,f,f,f,I gave to this project because I support the e...
1,fcfedba1c8a0ba77d280cace80a909f6,ffffac55ee02a49d1abc87ba6fc61135,521f1830a77c9dbbf8119d99c6206a16,NaN,GA,NaN,f,2011-11-04 07:54:21.552,26.83,4.73,...,10_to_100,t,creditcard,f,t,f,f,f,f,I donated because I want to support kids in Ge...
2,3fa95d29986aa6f401c6719ced3a3ce7,ffffac55ee02a49d1abc87ba6fc61135,1e0a63fc8141c7ba26b8b44ca0871b90,Rockville,MD,20853.0,f,2011-11-02 22:53:53.019,55.35,0.00,...,10_to_100,f,no_cash_received,t,f,f,f,t,f,The Spark's 'pet' projects include those which...
3,020ad6bd5e88a35741d23b5e08f8b8e8,ffffac55ee02a49d1abc87ba6fc61135,1d4acb508df29d5f1cc6d382969576cb,Salem,IN,47167.0,f,2011-11-03 23:54:01.109,8.50,1.50,...,10_to_100,t,paypal,f,f,f,f,f,f,I gave to this project because Education is im...
4,4b44b03f304d6425ae94446686f93cd6,ffffac55ee02a49d1abc87ba6fc61135,59c3c3cfcccc53ae855f7eee911c478b,anonymous,NaN,0.0,f,2011-11-02 23:21:00.043,20.00,0.00,...,10_to_100,f,no_cash_received,f,f,t,f,t,f,I lent a paw to help the children in this clas...

In [7]:
projects.head()

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,6.362701e+10,36.576340,-119.608713,Selma,CA,93662.0,NaN,...,Books,highest poverty,Grades 6-8,30.0,555.81,653.89,32.0,f,f,2014-05-12
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,4.837020e+11,32.911179,-96.723640,Dallas,TX,75243.0,urban,...,Books,highest poverty,Grades PreK-2,30.0,296.47,348.79,22.0,f,f,2014-05-12
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,4.103270e+11,45.166039,-122.414576,Colton,OR,97017.0,rural,...,Technology,high poverty,Grades PreK-2,30.0,430.89,506.93,17.0,f,f,2014-05-11
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,3.600153e+11,40.641727,-73.965655,Brooklyn,NY,11226.0,urban,...,Books,highest poverty,Grades 3-5,30.0,576.07,677.73,12.0,f,f,2014-05-11
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,6.227100e+10,34.043939,-118.288371,Los Angeles,CA,90006.0,urban,...,Other,highest poverty,Grades PreK-2,30.0,408.40,480.47,24.0,f,f,2014-05-11

# Data description - 

### donations.csv
* donationid - unique donation identifier
* projectid - unique project identifier (project that received the donation)
* donor_acctid - unique donor identifier (donor that made a donation)
* donor_city
* donor_state
* donor_zip
* is_teacher_acct - donor is also a teacher
* donation_timestamp
* donation_to_project - amount to project, excluding optional support (tip)
* donation_optional_support - amount of optional support
* donation_total - donated amount
* dollar_amount - donated amount in US dollars
* donation_included_optional_support - whether optional support (tip) was included for DonorsChoose.org
* payment_method - what card/payment option was used
* payment_included_acct_credit - whether a portion of a donation used account credits redemption
* payment_included_campaign_gift_card - whether a portion of a donation included corporate sponsored giftcard
* payment_included_web_purchased_gift_card - whether a portion of a donation included citizen purchased giftcard (ex: friend buy a giftcard for you)
* payment_was_promo_matched - whether a donation was matched 1-1 with corporate funds
* via_giving_page - donation given via a giving / campaign page (example: Mustaches for Kids)
* for_honoree - donation made for an honoree
* donation_message - donation comment/message. Used to calcualte great_chat

### projects.csv
* projectid - project's unique identifier
* teacher_acctid - teacher's unique identifier (teacher that created a project)
* schoolid - school's unique identifier (school where teacher works)
* school_ncesid - public National Center for Ed Statistics id
* school_latitude
* school_longitude
* school_city
* school_state
* school_zip
* school_metro
* school_district
* school_county
* school_charter - whether a public charter school or not (no private schools in the dataset)
* school_magnet - whether a public magnet school or not
* school_year_round - whether a public year round school or not
* school_nlns - whether a public nlns school or not
* school_kipp - whether a public kipp school or not
* school_charter_ready_promise - whether a public ready promise school or not
* teacher_prefix - teacher's gender
* teacher_teach_for_america - Teach for America or not
* teacher_ny_teaching_fellow - New York teaching fellow or not
* primary_focus_subject - main subject for which project materials are intended
* primary_focus_area - main subject area for which project materials are intended
* secondary_focus_subject - secondary subject
* secondary_focus_area - secondary subject area
* resource_type - main type of resources requested by a project
* poverty_level - school's poverty level.
* highest: 65%+ free of reduced lunch
* high: 40-64%
* moderate: 10-39%
* low: 0-9%
* grade_level - grade level for which project materials are intended
* fulfillment_labor_materials - cost of fulfillment
* total_price_excluding_optional_support - project cost excluding optional tip that donors give to DonorsChoose.org while funding a project
* total_price_including_optional_support - see above
* students_reached - number of students impacted by a project (if funded)
* eligible_double_your_impact_match - project was eligible for a 50% off offer by a corporate partner (logo appears on a project, like Starbucks or Disney)
* eligible_almost_home_match - project was eligible for a $100 boost offer by a corporate partner
* date_posted - data a project went live on the site

In [8]:
donations.shape

(3097989, 21)

In [9]:
projects.shape

(664098, 35)

In [15]:
donation_cols = donations.columns
project_cols = projects.columns

donation_cols, project_cols

(Index(['donationid', 'projectid', 'donor_acctid', 'donor_city', 'donor_state',
        'donor_zip', 'is_teacher_acct', 'donation_timestamp',
        'donation_to_project', 'donation_optional_support', 'donation_total',
        'dollar_amount', 'donation_included_optional_support', 'payment_method',
        'payment_included_acct_credit', 'payment_included_campaign_gift_card',
        'payment_included_web_purchased_gift_card', 'payment_was_promo_matched',
        'via_giving_page', 'for_honoree', 'donation_message'],
       dtype='object'),
 Index(['projectid', 'teacher_acctid', 'schoolid', 'school_ncesid',
        'school_latitude', 'school_longitude', 'school_city', 'school_state',
        'school_zip', 'school_metro', 'school_district', 'school_county',
        'school_charter', 'school_magnet', 'school_year_round', 'school_nlns',
        'school_kipp', 'school_charter_ready_promise', 'teacher_prefix',
        'teacher_teach_for_america', 'teacher_ny_teaching_fellow',
        'primary_focus_subject', 'primary_focus_area',
        'secondary_focus_subject', 'secondary_focus_area', 'resource_type',
        'poverty_level', 'grade_level', 'fulfillment_labor_materials',
        'total_price_excluding_optional_support',
        'total_price_including_optional_support', 'students_reached',
        'eligible_double_your_impact_match', 'eligible_almost_home_match',
        'date_posted'],
       dtype='object'))

In [33]:
donation_dtype = donations.dtypes.to_frame(name='Donations')
donation_dtype

                                         Donations
donationid                                  object
projectid                                   object
donor_acctid                                object
donor_city                                  object
donor_state                                 object
donor_zip                                  float64
is_teacher_acct                             object
donation_timestamp                          object
donation_to_project                        float64
donation_optional_support                  float64
donation_total                             float64
dollar_amount                               object
donation_included_optional_support          object
payment_method                              object
payment_included_acct_credit                object
payment_included_campaign_gift_card         object
payment_included_web_purchased_gift_card    object
payment_was_promo_matched                   object
via_giving_page                             object
for_honoree                                 object
donation_message                            object

In [45]:
projects_dtypes = projects.dtypes.to_frame(name='Projects')
projects_dtypes

                                       Projects
projectid                                object
teacher_acctid                           object
schoolid                                 object
school_ncesid                           float64
school_latitude                         float64
school_longitude                        float64
school_city                              object
school_state                             object
school_zip                              float64
school_metro                             object
school_district                          object
school_county                            object
school_charter                           object
school_magnet                            object
school_year_round                        object
school_nlns                              object
school_kipp                              object
school_charter_ready_promise             object
teacher_prefix                           object
teacher_teach_for_america                object
teacher_ny_teaching_fellow               object
primary_focus_subject                    object
primary_focus_area                       object
secondary_focus_subject                  object
secondary_focus_area                     object
resource_type                            object
poverty_level                            object
grade_level                              object
fulfillment_labor_materials             float64
total_price_excluding_optional_support  float64
total_price_including_optional_support  float64
students_reached                        float64
eligible_double_your_impact_match        object
eligible_almost_home_match               object
date_posted                              object

In [55]:
import sqlalchemy as db

engine = db.create_engine("mysql://ayush:ayush@localhost:3306/lsdb")
conn = engine.connect()
metadata = db.MetaData()

In [57]:
try:
    frame = projects.to_sql('projects', conn, if_exists='fail')
except Exception as ex:
    print(ex)
else:
    print("Table is created successfully")

Table is created successfully

The column `donation_message` causes error during the upload process. Thus dropping the column ...

In [52]:
donations = donations.dropna()
new_donations = donations.drop(['donation_message'], axis=1)
new_donations.head()

,donationid,projectid,donor_acctid,donor_city,donor_state,donor_zip,is_teacher_acct,donation_timestamp,donation_to_project,donation_optional_support,donation_total,dollar_amount,donation_included_optional_support,payment_method,payment_included_acct_credit,payment_included_campaign_gift_card,payment_included_web_purchased_gift_card,payment_was_promo_matched,via_giving_page,for_honoree
0,431d720bc3dfd75ae445a5eaa0b0638d,ffffac55ee02a49d1abc87ba6fc61135,22cbc920c9b5fa08dfb331422f5926b5,Peachtree City,GA,30269.0,f,2011-08-25 14:27:34.807,42.50,7.50,50.00,10_to_100,t,no_cash_received,f,t,f,f,f,f
2,3fa95d29986aa6f401c6719ced3a3ce7,ffffac55ee02a49d1abc87ba6fc61135,1e0a63fc8141c7ba26b8b44ca0871b90,Rockville,MD,20853.0,f,2011-11-02 22:53:53.019,55.35,0.00,55.35,10_to_100,f,no_cash_received,t,f,f,f,t,f
3,020ad6bd5e88a35741d23b5e08f8b8e8,ffffac55ee02a49d1abc87ba6fc61135,1d4acb508df29d5f1cc6d382969576cb,Salem,IN,47167.0,f,2011-11-03 23:54:01.109,8.50,1.50,10.00,10_to_100,t,paypal,f,f,f,f,f,f
15,9e0f234dfa2982619dacd0635019d53d,ffff2d9c769c8fb5335e949c615425eb,af1f03b856fc2979c01a6ad8b61f6fbe,Pocatello,ID,83201.0,f,2013-05-08 12:58:55.38,68.00,12.00,80.00,10_to_100,t,creditcard,f,t,f,f,f,f
16,fdcd840e3dd57016590cb8a69aed0c09,ffff2d9c769c8fb5335e949c615425eb,af1f03b856fc2979c01a6ad8b61f6fbe,Pocatello,ID,83201.0,f,2013-05-08 13:18:21.233,12.75,2.25,15.00,10_to_100,t,no_cash_received,f,t,f,f,f,f

In [58]:
try:
    frame_2 = new_donations.to_sql('donations', conn, if_exists='fail')
except Exception as ex:
    print(ex)
else:
    print("Table is created successfully")

Table is created successfully

In [59]:
db_projects = db.Table('projects', metadata, autoload_with=engine)
print(db_projects.columns.keys())

['index', 'projectid', 'teacher_acctid', 'schoolid', 'school_ncesid', 'school_latitude', 'school_longitude', 'school_city', 'school_state', 'school_zip', 'school_metro', 'school_district', 'school_county', 'school_charter', 'school_magnet', 'school_year_round', 'school_nlns', 'school_kipp', 'school_charter_ready_promise', 'teacher_prefix', 'teacher_teach_for_america', 'teacher_ny_teaching_fellow', 'primary_focus_subject', 'primary_focus_area', 'secondary_focus_subject', 'secondary_focus_area', 'resource_type', 'poverty_level', 'grade_level', 'fulfillment_labor_materials', 'total_price_excluding_optional_support', 'total_price_including_optional_support', 'students_reached', 'eligible_double_your_impact_match', 'eligible_almost_home_match', 'date_posted']

In [60]:
db_donations = db.Table('donations', metadata, autoload_with=engine)
print(db_donations.columns.keys())

['index', 'donationid', 'projectid', 'donor_acctid', 'donor_city', 'donor_state', 'donor_zip', 'is_teacher_acct', 'donation_timestamp', 'donation_to_project', 'donation_optional_support', 'donation_total', 'dollar_amount', 'donation_included_optional_support', 'payment_method', 'payment_included_acct_credit', 'payment_included_campaign_gift_card', 'payment_included_web_purchased_gift_card', 'payment_was_promo_matched', 'via_giving_page', 'for_honoree']